:root {
    --logo-height-alignment: 772px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Futura Heavy";
    src: url("/resources/fonts/futura/Futura Heavy font.ttf");
}

.page {
    margin: 2em 0;
    background-color: white;
    position: relative;
    width: 620px;
}

.pageBG {
    width: 100%;
}

.flyerComponent {
    position: absolute;
}

.centered {
    text-align: center;
}

/*---------- PAGE 1 ----------*/

.headerText {
    font-family: "Futura Heavy";
    color: white;
    font-size: 1.65em;
}

#flyerHeader {
    width: 78%;
    top: 32px;
    margin: 0.25em;
}

#stockImage {
    left: 0;
    top: 95px;
    max-width: 443px;
}

#tagLogoText {
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    left: 15px;
    top: 385px;
}

#rtoLogoText {
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    left: 200px;
    top: 385px;
}

#tagLogo {
    width: 190px;
    top: 437px;
    left: 10px;
}

#RTOLogo {
    width: 110px;
    top: 407px;
    left: 225px;
}

#detailsDivider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22% 1fr;
    width: 100%;
    height: 143px;
    top: 520px;
}
#detailsDivider > * {
    padding: 0 10px;
}

.detailsHeader {
    margin: 0;
    margin-top: 5px; 
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
}

#infoDivider {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 15px;
    top: 652px;
    background-color: rgb(0, 190, 235);
}
#infoDivider > * {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#jobRolesHeader {
    color: white;
    font-weight: bold;
    margin: 0;
}

#jobRoleList {
    margin: 0;
    margin-top: 5px;
}

#infoText {
    color: white;
    font-size: 11px;
    margin-left: 15px;
    column-count: 2;
}

#jobSkillsLogo {
    left: 25px;
    top: var(--logo-height-alignment);
    height: 50px;
}

#skillsReadyLogo {
    left: 195px;
    top: var(--logo-height-alignment);
    height: 55px;
}

#LFLSLogo {
    left: 335px;
    top: var(--logo-height-alignment);
    height: 45px;
}

#NRTLogo {
    left: 497px;
    top: calc(var(--logo-height-alignment) - 12px);
    height: 80px;
}

#RTOInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 8px;
}
#RTOInfo > * {
    font-size: 13px;
    padding: 0 16px;
    border-right: solid black 1px;
}
#RTOInfo > *:last-child {
    border-right: none;
}

/*---------- PAGE 2 ----------*/

#secondaryFlyerHeader {
    width: 25%;
    height: 60px;
    color: white;
    top: -5px;
    left: 10px;
    font-size: 16px;
}

#websiteLink {
    top: 5px;
    right: 20px;
}

#secondaryRTOLogo {
    background-color: white;
    top: 131px;
    left: 480px;
    height: 85px;
}

#unitTable {
    width: 87%;
    top: 130px;
    left: 40px;
    word-wrap: normal;
}
#unitTable tr {
    text-align: left;
}
#unitTable th {
    color: white;
    padding-left: 5px;
    padding: 5px;
    background-color: rgb(45, 95, 177);
}
#unitTable td {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
}
#unitTable tr:nth-child(odd) {
    background-color: rgb(202, 214, 233);
}

.infoHeader {
    font-size: 13px;
    font-family: "Futura Heavy";
    color: rgb(55, 91, 158);
    margin: 5px 0;
    margin-bottom: 2px;
}
.infoContent {
    font-size: 11px;
    margin-top: 2px;
}

#complianceInfo {
    padding: 0 15px;
    column-count: 2;
    bottom: 60px;
    height: 350px;
}

#prices {
    padding-left: 15px;
}

#pricesContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
#pricesContainer > p {
    margin: 7px 0;
}
#price, #concessionPrice {
    font-weight: bold;
}