:root {
    --logo-height-alignment: 87.2%;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Futura Heavy";
    src: url("/resources/fonts/futura/Futura Heavy font.ttf");
}

.page {
    margin: 2em 0;
    background-color: white;
    position: relative;
    width: 620px;
    page-break-inside: avoid;
}

.pageBG {
    width: 100%;
}

.flyerComponent {
    position: absolute;
}

.centered {
    text-align: center;
}

/*---------- PAGE 1 ----------*/

.headerText {
    font-family: "Futura Heavy";
    color: white;
    font-size: 1.65em;
}

#flyerHeader {
    width: 78%;
    top: 3.5%;
    margin: 0.25em;
}

#stockImage {
    left: 0;
    top: 10.8%;
    max-width: 71.3%;
}

#tagLogoText {
    font-family: Verdana;
    font-size: 0.6em;
    font-weight: bold;
    left: 2.5%;
    top: 43.75%;
}

#rtoLogoText {
    font-family: Verdana;
    font-size: 0.6em;
    font-weight: bold;
    left: 34%;
    top: 43.75%;
}

#tagLogo {
    width: 28%;
    top: 49.5%;
    left: 2%;
}

#RTOLogo {
    width: 17.5%;
    top: 46.8%;
    left: 37%;
}

#detailsDivider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22% 1fr;
    width: 100%;
    height: 15%;
    top: 58.9%;
}
#detailsDivider > * {
    padding: 0 0.5em;
}

.detailsHeader {
    margin: 0;
    margin-top: 0.25em; 
    font-family: Verdana;
    font-weight: bold;
    font-size: 0.85em;
}

#infoDivider {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 0.4em;
    top: 73.5%;
    background-color: rgb(0, 190, 235);
}
#infoDivider > * {
    padding-right: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#jobRolesHeader {
    color: white;
    font-weight: bold;
    margin: 0;
}

#jobRoleList {
    margin: 0;
    margin-top: 0.25em;
}

#infoText {
    color: white;
    font-size: 0.70em;
    margin-left: 1em;
    column-count: 2;
}

#jobSkillsLogo {
    left: 4%;
    top: var(--logo-height-alignment);
    height: 6%;
}

#skillsReadyLogo {
    left: 32.5%;
    top: var(--logo-height-alignment);
    height: 6.2%;
}

#LFLSLogo {
    left: 54%;
    top: var(--logo-height-alignment);
    height: 5.4%;
}

#NRTLogo {
    left: 80%;
    top: calc(var(--logo-height-alignment) - 12px);
    height: 9.4%;
}

#RTOInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 1%;
}
#RTOInfo > * {
    font-size: 0.75em;
    padding: 0 1em;
    border-right: solid black 1px;
}
#RTOInfo > *:last-child {
    border-right: none;
}

/*---------- PAGE 2 ----------*/

#secondaryFlyerHeader {
    width: 25%;
    height: 4em;
    color: white;
    top: 0;
    left: 1.9%;
    font-size: 1em;
}

#websiteLink {
    top: 0.3%;
    right: 4%;
}

#secondaryRTOLogo {
    background-color: white;
    top: 15%;
    left: 77.2%;
    height: 10%;
}

#unitTable {
    width: 88%;
    top: 15%;
    left: 6%;
    word-wrap: normal;
}
#unitTable tr {
    text-align: left;
}
#unitTable th {
    color: white;
    padding: 5px;
    background-color: rgb(45, 95, 177);
}
#unitTable td {
    padding-left: 0.25em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
#unitTable tr:nth-child(odd) {
    background-color: rgb(202, 214, 233);
}

.infoHeader {
    font-size: 0.77em;
    font-family: "Futura Heavy";
    color: rgb(55, 91, 158);
    margin: 0.25em 0;
    margin-bottom: 0.15em;
}
.infoContent {
    font-size: 0.7em;
    margin-top: 0.15em;
}

#complianceInfo {
    padding: 0 0.75em;
    column-count: 2;
    bottom: 5%;
    height: 39%;
}

#prices {
    padding-left: 0.5em;
}

#pricesContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
#pricesContainer > p {
    margin: 0.35em 0;
}
#price, #concessionPrice {
    font-weight: bold;
}