/*#region Printing hack */
@media print {
    .headerText {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0;
    }
    @media print and (-webkit-min-device-pixel-ratio:0) {
        .headerText {
          color: #ccc;
          -webkit-print-color-adjust: exact;
        }
      }
}
/*#endregion*/

:root {
    --logo-height-alignment: 86.5%;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Futura Heavy";
    src: url("/resources/fonts/futura/Futura Heavy font.ttf");
}

body {
    margin: 0;
    padding: 0;
}
.page {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    background-color: white;
    padding: 8px;
}
.pageBG {
    width: 100%;
}

.flyerComponent {
    position: absolute;
}
.centered {
    text-align: center;
}

/*---------- PAGE 1 ----------*/

.headerText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.65em;
}

#flyerHeader {
    width: 75%;
    top: 3.8%;
    margin: 0.25em;
}

#stockImageContainer {
    left: 8px;
    top: 11.5%;
    width: 69%;
    height: 33%;
    overflow: hidden;
}

#stockImage {
    height: 100%;
}

#tagLogoText {
    font-family: Verdana;
    font-size: 0.6em;
    font-weight: bold;
    left: 2.5%;
    top: 44.75%;
}

#rtoLogoText {
    font-family: Verdana;
    font-size: 0.6em;
    font-weight: bold;
    left: 34%;
    top: 44.75%;
}

#tagLogo {
    width: 28%;
    top: 49.5%;
    left: 2%;
}

#ABVLogo {
    width: 17.5%;
    top: 46.8%;
    left: 37%;
}

#MTACSLogo {
    width: 21%;
    top: 51.5%;
    left: 35%;
}

#SSTLogo {
    width: 17.5%;
    top: 48.45%;
    left: 37%;
}

#contactUs {
    top: 44.75%;
    left: 61.5%;
    width: 35%;
 
}

#contactUsHeader {
    margin-top: 0;
    margin-bottom: 6.5%;
    font-size: 2em;
    font-weight: 700;
    color: rgb(12, 35, 71);
    text-align: center;
    text-decoration: underline;
}

#contactName {
    margin-top: 0;
    margin-bottom: 3%;
    color: rgb(25, 57, 109);
    font-size: 1.5em;
    font-weight: 700;
}

#contactEmail {
    margin-top: 0;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 700;
}

#contactNumber {
    margin-top: 0;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 700;
}

#detailsDivider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22% 1fr;
    width: 98%;
    height: 14.8%;
    top: 58.7%;
}
#detailsDivider > * {
    padding: 0 0.5em;
}

.detailsHeader {
    margin: 0;
    margin-top: 0.25em; 
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.2em;
}

#infoDivider {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 0.4em;
    top: 74%;
    left: 2%;
    width: 94%;
}
#infoDivider > * {
    padding-right: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#jobRolesHeader {
    color: white;
    font-weight: bold;
    margin: 0;
}

#jobRoleList {
    margin: 0;
    margin-top: 0.25em;
    color: white;
    font-weight: 600;
}

#infoText {
    color: white;
    font-size: 0.85em;
    margin-left: 1em;
    column-count: 2;
}

#jobSkillsLogo {
    left: 4%;
    top: var(--logo-height-alignment);
    height: 6%;
}

#skillsReadyLogo {
    left: 32.5%;
    top: var(--logo-height-alignment);
    height: 6.2%;
}

#LFLSLogo {
    left: 54%;
    top: var(--logo-height-alignment);
    height: 5.4%;
}

#NRTLogo {
    left: 80%;
    top: calc(var(--logo-height-alignment) - 12px);
    height: 9.4%;
}

#RTOInfo {
    width: 98%;
    display: flex;
    justify-content: center;
    bottom: 1%;
}
#RTOInfo > * {
    font-size: 0.75em;
    padding: 0 1em;
    border-right: solid black 1px;
}
#RTOInfo > *:last-child {
    border-right: none;
}

/*---------- PAGE 2 ----------*/

#secondaryFlyerHeader {
    width: 25%;
    height: 6%;
    color: white;
    top: 1.5%;
    left: 2.7%;
    font-size: 1em;
}

#websiteLink {
    top: 1.8%;
    right: 9%;
}

#ABVLogo2 {
    background-color: white;
    top: 14%;
    left: 77.5%;
    height: 10%;
}

#MTACSLogo2 {
    background-color: white;
    top: 14%;
    left: 60%;
    width: 35%;
}

#SSTLogo2 {
    background-color: white;
    top: 14%;
    left: 74%;
    height: 10%;
}

.table th{
    color: white;
    padding: 5px;
    background-color: rgb(45, 95, 177);
}

.table tr:nth-child(odd) {
    background-color: rgb(202, 214, 233);
}

#unitTable {
    width: 88%;
    top: 14%;
    left: 6%;
}
#unitTable tr {
    text-align: left;
    width: 100%;
}
#unitTable td {
    padding-left: 0.25em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.infoHeader {
    font-size: 0.77em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(55, 91, 158);
    margin: 0.25em 0;
    margin-bottom: 0.15em;
}
.infoContent {
    font-size: 0.7em;
    margin-top: 0.15em;
}

#complianceInfo {
    padding: 0 0.75em;
    column-count: 2;
    bottom: 7%;
    width: 94.8%;
    height: auto;
}

#prices {
    padding-left: 0.5em;
}

#pricesContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
#pricesContainer > p {
    margin: 0.35em 0;
}
#price, #concessionPrice {
    font-weight: bold;
}